*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
a{
    text-decoration: none;
    background-color: transparent;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #dddd;
    text-align: center;
    z-index: 100;
    background: #f5f5f5;
}
.logo img{
    width: 139px;
    height: 124px;
    cursor: pointer;
}
.logo{
    flex: 1;
}
.admin-content{
    padding-top: 50px;
    display: flex;
}
.admin-content-left{
    background-color: #BFACD9;
    width: 20%;
    height: 130vh;
    padding: 30px 0 0 12px;
    margin-top: -50px;
}
.admin-content-left> ul> li> a {
    font-weight: bold;
}
.admin-content-left ul li{
    margin: 6px 0;
}
.admin-content-left ul ul{
    margin-left: 20px;
}
.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;
    background-color: #B5DEEF;
    margin-top: -50px;
}
.admin-content-right-cartegory_add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}
.admin-content-right-cartegory_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: blue;
    border: none;
    color: white;
    transition: all 0.3s ease;
}
/*Cartegorylist*/
.admin-content-right-cartegory_list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.admin-content-right-cartegory_list table tr th,td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
/*Product*/
.admin-content-right-product_add h1{
    margin-bottom: 20px;
}
.admin-content-right-product_add input,select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
}
.admin-content-right-product_add textarea{
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 12px;
    padding: 12px;
}
.admin-content-right-product_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: blue;
    border: none;
    color: white;
    transition: all 0.3s ease;
}
