*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #FEBD04;
    text-align: center;
    height: 44px;
    width: 1200px;
    position: relative;
    margin: auto;
}
/* ........................nav................ */
nav{
    background-color: black;
    width: 1200px;
    position: relative;
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li,a{
    color: white;
    font-size: 12px;
}
nav ul li:nth-child(2) i {
    font-size: 15px;
    margin-left: 6px;
}
nav ul li:nth-child(3) {
    position: relative;
}
nav ul li:nth-child(3) input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}
nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 20px;
    right: 12px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(70,68,68);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) button i {
    margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
    background-color: rgb(100,97,97);
}
nav ul li:nth-child(6) a {
    color: #FED100;
}
nav ul li:nth-child(6) i {
    color:#FED100;
}

/*Phần thanh menu như trang điểm,chăm sóc da, chăm sóc tóc*/
.menu-bar{
    background-color: #FED100; 
    width: 1200px;
    position: relative;
    margin: auto;
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li a{
    color: black;
    font-size: 16px;
}
.menu-bar ul li a i{
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar ul li {
    padding: 12px 6px;
    transition: all 0.3s ease;
}
.menu-bar ul li:hover{
    background-color: white;
}
.menu-bar-content > ul > li:nth-child(9) {
    position: relative;
}
.menu-bar-content > ul > li:nth-child(9):before{
position: absolute;
content: "Giảm 5%";
display: block;
height: 15px;
width: 45px;
background-color: #F51212;
border-radius: 5px;
right: -2px;
top: -3px;
font-size: 10px;
padding-left: 1px;
color: #fff;
}
.menu-bar-content > ul > li:nth-child(9):after{
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    display: block;
    top: 22px;
    right:10px;
    z-index: 2;
    transform: rotate(45deg);
}
/*---------submenu--------------- */
.menu-bar-content ul li {
    position: relative;
}
body {
    
    background-color: var(--bg--color);
    font-family: "Roboto", sans-serif;
  }
  :root {
    --bg--color: #FFFFFF;
    --primary--color:#a4ebf3 ;
    --secondary--color: #a5a4f3;
    --gray--color: #aaaaaa;
  }
  .wapper {
    margin-top: 0px;
    margin-left: 0px;
    width: 1200px;
    background-color: var(--primary--color);
    padding: 10px 20px 30px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    text-align: center;
  }
  .wapper{
    background: url(images/al.jpg);
  }
  .wapper input {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid #0093ab;
    outline: none;
    border-radius: 10px;
  }
  .form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: blue;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 2px;
}
  .form-submit:hover {
    cursor: pointer;
    transform: scale(1.1);
    
  }
  .wapper input:focus {
    border: 1px solid var(--bg--color);
  }
  .wapper input::placeholder {
    color: black;
  }
  .wapper .login-link {
    display: block;
    transform: translateX(120px);
    margin-bottom: 20px;
    color: #FF6600;
    margin-left: 53px;
    font-size: 15px;
}
form {
    margin-top: 35px;
    width: 350px;
    margin-left: 414px;
}
.wapper-heading {
    font-size: 25px;
    font-family: arial;
    margin-left: 9px;
    color: pink;
}
/*Thiết kế footer cho trang*/
footer{
    padding: 50px 100px;
    background: #E5FBF1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    height: 263px;
    position: relative;
    margin: auto;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:109%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}